<link rel="apple-touch-icon" sizes="180x180" href="{% link /assets/images/favicon/apple-touch-icon.png %}?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="{% link /assets/images/favicon/favicon-32x32.png %}?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="{% link /assets/images/favicon/favicon-16x16.png %}?v=2">
<link rel="manifest" href="{% link /assets/images/favicon/site.webmanifest %}?v=2">
<link rel="mask-icon" href="{% link /assets/images/favicon/safari-pinned-tab.svg %}?v=2" color="#5bbad5">
<link rel="shortcut icon" href="{% link /assets/images/favicon/favicon.ico %}?v=2">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{% link /assets/images/favicon/browserconfig.xml %}?v=2">
<meta name="theme-color" content="#ffffff">