html, body {
    height: 100%;
}

.page-content {
    display: flex;
}

.page-content > .wrapper, .home {
    display: flex;
    flex-grow: 1;
}

.page-content > .wrapper {
    justify-content: center;
}

textarea {
    color: $text-color;
    background-color: $code-background-color;
    border-color: $border-color-01;
    @include relative-font-size(1);

    width: 100%;
    padding: 8px;
}
