$default-spacing: 8px;

$lm-disabled-text-color: #aaaaaa;
$dm-disabled-text-color: #636363;

$lm-inactive-toggle-text-color: #444444;
$dm-inactive-toggle-text-color: #888888;

$lm-button-background-color: #f0f0f0;
$lm-button-hover-background-color: #e1e1e1;

$dm-button-background-color: #333333;
$dm-button-hover-background-color: #444444;

$disabled-text-color: $lm-disabled-text-color;
$inactive-toggle-text-color: $lm-inactive-toggle-text-color;
$button-background-color: $lm-button-background-color;
$button-hover-background-color: $lm-button-hover-background-color;

:root {
    --io-disabled-text-color: #{$lm-disabled-text-color};
    --io-inactive-toggle-text-color: #{$lm-inactive-toggle-text-color};
    --io-button-background-color: #{$lm-button-background-color};
    --io-button-hover-background-color: #{$lm-button-hover-background-color};
}

@media (prefers-color-scheme: dark) {
    :root {
        --io-disabled-text-color: #{$dm-disabled-text-color};
        --io-inactive-toggle-text-color: #{$dm-inactive-toggle-text-color};
        --io-button-background-color: #{$dm-button-background-color};
        --io-button-hover-background-color: #{$dm-button-hover-background-color};
    }
}

$disabled-text-color: var(--io-disabled-text-color);
$inactive-toggle-text-color: var(--io-inactive-toggle-text-color);
$button-background-color: var(--io-button-background-color);
$button-hover-background-color: var(--io-button-hover-background-color);

html {
    height: 100%;
}

body {
    height: 100%;

    .page-content {
        display: flex;

        .wrapper {
            display: flex;
            flex-grow: 1;
            justify-content: center;

            .home {
                display: flex;
                flex-grow: 1;
                flex-direction: column;
                gap: $default-spacing;

                .toolbar {
                    display: flex;
                    justify-content: flex-end;
                    gap: $default-spacing;

                    button {
                        @include relative-font-size(1);
                        color: $inactive-toggle-text-color;
                        background: $button-background-color;
                        border-style: solid;
                        border-width: 1px;
                        border-color: $border-color-01;
                        border-radius: 6px;
                        cursor: pointer;

                        transition: background 150ms linear;
                        &:hover {
                            background: $button-hover-background-color;
                        }

                        &.active {
                            color: $text-color;
                            border-style: solid;
                            border-width: 1px;
                            border-color: $text-color;
                        }
                    }

                    #toggle-full-width {
                        @media not screen and (min-width: $on-laptop) {
                            display: none;
                        }
                    }
                }

                .content {
                    @media screen and (min-width: $on-laptop) {
                        flex-direction: row;
                    }

                    @media not screen and (min-width: $on-laptop) {
                        flex-direction: column;
                    }

                    display: flex;
                    flex-grow: 1;
                    justify-content: center;

                    gap: $default-spacing;

                    textarea {
                        color: $text-color;
                        @include relative-font-size(1);

                        &:read-only {
                            color: $disabled-text-color;

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    #markdown-preview {
                        border-style: solid;
                        border-width: 1px;

                        @media not screen and (min-width: $on-laptop) {
                            overflow: auto;
                        }

                        * {
                            text-wrap-mode: wrap;
                            word-wrap: anywhere;
                        }
                    }

                    textarea, #markdown-preview {
                        flex-grow: 1;
                        flex-basis: 0;

                        background-color: $code-background-color;
                        border-color: $border-color-01;

                        padding: $default-spacing;
                    }
                }
            }
        }
    }
}
