$default-spacing: 8px;

html, body {
    height: 100%;
}

.page-content {
    display: flex;
}

.page-content > .wrapper, .home {
    display: flex;
    flex-grow: 1;
}

.page-content > .wrapper {
    justify-content: center;
}

.home {
    flex-direction: column;
    gap: $default-spacing;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
}

.content {
    @media screen and (min-width: $on-laptop) {
        flex-direction: row;
    }

    @media not screen and (min-width: $on-laptop) {
        flex-direction: column;
    }

    display: flex;
    flex-grow: 1;
    justify-content: center;

    gap: $default-spacing;
}

textarea {
    color: $text-color;
    @include relative-font-size(1);
}

.markdown-preview {
    border-style: solid;
    border-width: 1px;

    @media not screen and (min-width: $on-laptop) {
        overflow: auto;
    }
}

textarea, .markdown-preview {
    flex-grow: 1;
    flex-basis: 0;

    background-color: $code-background-color;
    border-color: $border-color-01;

    padding: $default-spacing;
}
